

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d3d3d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*NAVBAR*/
.navpos{
  position:absolute !important;
  top:0 !important;
}

.nav_list{
  width:100%;
  
}

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color_headings);
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  width: 100%;
}

.nav {
  background: rgba(255, 255, 255, 0.977);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem 1rem;
  align-items: center;
}

.nav__item {
  padding: 0.5rem 2rem 0;
  border-bottom: 1px solid #222;
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 300;

}

.nav__item > a:hover {
  color: rgb(30, 65, 178);
  transition: color 0.3s;
}

.nav__toggler {
  opacity: 0.5;
  transition: opacity 0.5s;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY();
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    align-items: center;
    max-height: 100%;
    opacity: 1;
    margin-bottom:0px;
  }
  .nav__item {
    border: 0;
  }
  .navbrand{
  padding:10px 0px 30px 30px;
  font-size: 26px;
  font-weight: 300;
  color:#61dafb
  }
}
.navbar-logo{
  width:20px;
  height:20px;
  transform:scale(0.5)
}
.navbar__brand{
padding:10px 0px 10px 30px;
font-size: 30px;
font-weight: 300;
color:#61dafb
}

/*RENDITION NAVBAR*/
.navbarBoxRootRootRoot {
  width: 84.13em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.25em 4.5em 1.13em 1.38em;
  background-color: #f8f8f8;
}
.text1 {
  width: 7.23em;
  height: 54px;
  color: #798dac;
  font-size: 35px;
  font-weight: 700;
  font-family: Outfit;
}
.group {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.groupA {
  gap: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.13em 0px 0px 0px;
}
.text2 {
  width: 5.32em;
  height: 54px;
  color: #798dac;
  font-size: 25px;
  font-weight: 700;
  font-family: Outfit;
}
.text3 {
  width: 7.24em;
  height: 54px;
  color: #798dac;
  font-size: 25px;
  font-weight: 700;
  font-family: Outfit;
}
.text4 {
  width: 6.4em;
  height: 54px;
  color: #798dac;
  font-size: 25px;
  font-weight: 700;
  font-family: Outfit;
}
.groupB {
  width: 10em;
  height: 56px;
  position: relative;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 0px 8.56em;
}
.text5 {
  width: 5.88em;
  height: 54px;
  left: 0px;
  top: 0px;
  position: absolute;
  color: rgba(243, 110, 90, 0.44);
  font-size: 25px;
  font-weight: 700;
  font-family: Outfit;
}
.text6 {
  width: 6.4em;
  height: 54px;
  position: relative;
  color: rgba(243, 110, 90, 0.44);
  font-size: 25px;
  font-weight: 700;
  font-family: Outfit;
}

/*SIDEBAR*/
.sidebar {
  /* width: 190px; */
  z-index:10;
  /* margin-top: 70px; */
  background: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  color: #61dafb;
  height:100%;
  /* position: absolute;  */
  float:left;
  top: 0;
  left: 0;
  /* transition: width 0.3s ease-in; */
}

.sidebar-closed {
  /* width: 90px; */
  z-index:1;
  /* margin-top: 4.5%; */
  background: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  color:#61dafb ;
  height:100%;
  /* position: abs;  */
  top: 0;
  left: 0;
  /* transition: width 0.3s ease-in; */
}
.sidebar__button {
  background: transparent;
  padding: 10px;
  border: 1px solid rgba(24, 106, 128, 0.332);
  border-radius: 4px;
  color: #61dafb;
}
.sidebar__listItem {
  margin: 30px 10px;
  display: flex;
  height: 20px;
  align-items: center;
}
.no-bull {
  list-style-type: none;
  padding: 0;
}
.sidebar__icon {
  margin: 0 15px 0 0;
}

.sidebar-options:hover{
  color:bisque;
  transition: color 0.3s ease-in;
}
.below-nav{
  height:100vh;
  width:100vw;
  margin:0 !important;

}
/*BELOW NAVBAR*/
 .content{
  height:100%;
  width:100%;
  overflow-x:hidden ! important;
  overflow-y: scroll;
  
} 

.col .main-content-box{
padding-left:0;
padding-right:0;
}

.main-content-box{
  width:100%;
  height:100% !important;
  padding:0 ! important;


}
.content-box-none{
  display:flex;
  justify-content: center;
  align-items: center;
  height:80%;
}

.info-bar{
  background:#77e2f344;
  height:7%;
  width:100%;
  top:0 ! important;
  overflow-x:hidden ! important;
  overflow-y: scroll;
  margin:0 !important;
  color:rgba(63, 43, 127, 0.393);


  
  

}
.info-bar-badge{
background-color: #798dac;
color: #f8f8f8 !important;
font-family: Outfit !important;
}
.search-bar-style::placeholder{
font-family: Outfit !important;
color:#798dac !important;

}

input[type=search-bar], select, textarea{
  font-family: Outfit !important;
  color:#798dac !important;
}

/* .search-bar-style::first-letter{
  font-family: Outfit !important;
  color:#798dac !important;
  
  } */
/* .search-bar-style::first-line{
font-family: Outfit !important;
color:#798dac !important;

} */
.filter-dropdown{
  z-index:10000 !important;
  position: absolute !important;
  right:23%;
  top:9%;
}

.no-sessions-text{
  color:#61dafb;
  text-align: center;
  align-self: center;
}
.sad-icon{
  height:60px;
  width:60px;
}
/*FLOATING ACTION BUTTON*/

.floating-action-button{
  display:block;
  height: 65px;
  width:auto !important;
  padding: 13px 15px 20px 15px; 
  color:#f8f8f8;
  background-color: #798dac;
  border-radius: 40px;
  border-width:0;
  position:fixed ;
  bottom:15%;
  right:10%;
  z-index:1;
  
}
.floating-action-icon{
  height: 80px;
  width: 80px;
  /* padding: 0px 2px 4px 2px; */
  
  
}
.floating-action-button .floating-action-icon{
  transform: rotateZ(90deg);
  transition:  transform 0.35s ease-in;
}


.floating-action-button-text{
  font-size:22px;
  font-family: Outfit;
  transform:scaleX(0);
  width:0;
  transition: transform 0.35s ease-in,width 0.35s ease-in;
  transform-origin: 90% 50%;
  white-space:nowrap
}


.floating-action-button:hover .floating-action-button-text{
font-size:22px;
transform:scaleX(1);
width:200px;
transition: transform 0.35s ease-in,width 0.35s ease-in;
}

.floating-action-button:hover .floating-action-icon{
transform: rotateZ(-90deg);
transition: transform 0.35s ease-in;
}


.floating-action-button:focus {
  outline: none;
}
/*CONTENT BOX BELOW INFO BAR*/
.content-box{
  width:100%;
  height:93% !important;
  margin:0 !important;
  padding:0 !important;
  top:0;
  overflow-y:auto !important;
  overflow-x:hidden !important ;
  
}
/**/
.session-edit-button{
  color:#f8f8f8;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  padding:5px 5px;
  
  }


  .card{
    border-radius: 20px !important;
    background-color: rgba(156,178,225,72%) !important;
    border: none !important;
  }

  .card-spacing{
    padding: 5% 3% 5% 3%;
    
    margin-left:3%;
    margin-right:3%;
    margin-top: 4%;
    margin-bottom: 4%;
    
  }
  .card-style{
    border-radius: 20px;
  }
  .card-title{
    font-family: Outfit;
    color:rgb(99,104,151);
  }
  .card-desc{
    font-family: Outfit;
    color:rgb(99,104,151);
  }

    #card-grid-spacing{
      margin-left:5px;
      margin-right:25px;
      padding-top:20px;
      height:300px;
    }

    .start-session-button{
      background-color: #798dac !important;
      border-radius: 20px !important;
      font-family: Outfit !important;
      color: #f8f8f8 !important;
      
    }
.am-colour{
  background-color:rgb(249, 207, 54) !important;
}
.pm-colour{
  background-color:rgba(136,191,255) !important;

}
    /*SESSION FORM*/
    .session-form-size{
      min-width:200px;
      min-height:150px;
    }
    .adminlist-spacing{
      margin:10px 0 10px 0;
    }
    .adminButton-spacing{
      margin:3px 5px 3px 5px;
      display: inline-block;
    }
    .form-listgroup-card{
      height:150px !important;
      max-width:100% !important;
      overflow-y:auto !important;
      
    }
    .form-listgroup-card-sidebar{
      height:auto !important;
      max-width:100% !important;
      overflow-y:auto !important;
      
    }
    .form-listgroup-card-none{
      height:100% !important;
      max-width:100% !important;
    }
    .form-listgroup-item{
      height: 4rem;
      width:100% ! important;    
      padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    }
    .form-listgroup-sidebar-item{
      height: 3rem;
      width:100% ! important;    
      padding: 0.5rem 0.3rem 0.5rem 0.3rem;
      display: flex !important;
      justify-content: space-between !important;
    }
   /*CARD*/
   .card-desc{
    height:40px !important;
    width:300px !important;
    padding-left:15px;
    overflow-wrap: break-word;
    inline-size: 120px;
   }
/*CONFIRM DELETE POP UP*/
.confirm-delete-form-size{
  min-width:150px;
  min-height:100px;
}
.confirm-logout-form-size{
  min-width :100px;
  min-height:50px;

}
/*LEFT SIDEBAR*/
.see-faq-btn{
  width:100%;
}
/*PRODCUTS PAGE*/

.product-content{
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.linkpad{
  border-radius: 0 30px 30px 0;
  border-top:5px solid rgb(98,105,115);
  border-right:5px solid rgb(98,105,115);
  border-bottom:5px solid rgb(98,105,115);
  border-left: 0px;
  box-shadow: 20px 20px 20px -20px grey ;
 
 
}
.linkpad-second{
  border-radius:  30px 0 0 30px;
  border-top:5px solid rgb(98,105,115);
  border-right:0px;
  border-bottom:5px solid rgb(98,105,115);
  border-left: 5px solid rgb(98,105,115); 
  margin-right:0px !important;
  float:right !important;
  box-shadow: -10px -10px 20px -9px grey ;
}

.linkpadcol{
  padding-left:0 !important;
  padding:50px 50px 50px 0 !important;

}
.linkpadcol-child{
  padding-left:0 !important;
  

}


.linkpadcol-second{
  padding-right:0 !important; 
  padding:50px 0 50px 50px !important;
  
}
.linkpadcol-child-second{
  padding-right:0!important;

}


.linkpad-product-icons-expand{
  transform:scale(1);
  transition:transform 0.3s ease-in !important;
  
}
.linkpad-product-icons-expand:hover{
transform:scale(1.1);
transition:transform 0.3s ease-in !important;
}



.linkpad-colour-txt{
  width:400px;
  height:500px;
  display: flex !important;
justify-content: center !important;
align-items: center !important;
}



.linkpad-product-phone-icon-color{
  color:rgb(98,105,115);
}
.linkpad-product-phone-icon{
  border-top:5px solid rgb(98,105,115);
  border-left:5px solid rgb(98,105,115);
  border-right:5px solid rgb(98,105,115);
  border-bottom:5px solid rgb(98,105,115);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;

}
.linkpad-product-phone-icon .linkpad-product-phone-icon-color{
  color:rgb(98,105,115);
  transition:color 0.3s ease-in;
}

.linkpad-product-phone-icon:hover{
  border-top:5px solid rgb(202,61,63);
  border-left:5px solid rgb(202,61,63);
  border-right:5px solid rgb(202,61,63);
  border-bottom:5px solid rgb(202,61,63);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;
}
.linkpad-product-phone-icon:hover .linkpad-product-phone-icon-color{
  color:rgb(202,61,63);
  transition:color 0.3s ease-in;
}

.linkpad-product-camera-icon{
  border-top:5px solid rgb(98,105,115);
  border-left:5px solid rgb(98,105,115);
  border-right:5px solid rgb(98,105,115);
  border-bottom:5px solid rgb(98,105,115);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;

}
.linkpad-product-camera-icon:hover{
  border-top:5px solid rgb(41,91,248);
  border-left:5px solid rgb(41,91,248);
  border-right:5px solid rgb(41,91,248);
  border-bottom:5px solid rgb(41,91,248);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;

}

.linkpad-product-camera-icon:hover .linkpad-product-camera-icon-color{
  color:rgb(41,91,248);
  transition:color 0.3s ease-in;
}
.linkpad-product-camera-icon .linkpad-product-camera-icon-color{
  color:rgb(98,105,115);
  transition:color 0.3s ease-in;
}



.linkpad-product-answer-icon-color{
  color:rgb(98,105,115);
}
.linkpad-product-answer-icon{
  border-top:5px solid rgb(98,105,115);
  border-left:5px solid rgb(98,105,115);
  border-right:5px solid rgb(98,105,115);
  border-bottom:5px solid rgb(98,105,115);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;

}
.linkpad-product-answer-icon .linkpad-product-answer-icon-color{
  color:rgb(98,105,115);
  transition:color 0.3s ease-in;
}
.linkpad-product-answer-icon:hover{
  border-top:5px solid rgb(47,122,76);
  border-left:5px solid rgb(47,122,76);
  border-right:5px solid rgb(47,122,76);
  border-bottom:5px solid rgb(47,122,76);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;
}
.linkpad-product-answer-icon:hover .linkpad-product-answer-icon-color{
  color:rgb(47,122,76);
  transition:color 0.3s ease-in;
}


.linkpad-product-mic-icon-color{
  color:rgb(98,105,115);
}
.linkpad-product-mic-icon{
  border-top:5px solid rgb(98,105,115);
  border-left:5px solid rgb(98,105,115);
  border-right:5px solid rgb(98,105,115);
  border-bottom:5px solid rgb(98,105,115);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;

}
.linkpad-product-mic-icon .linkpad-product-mic-icon-color{
  color:rgb(98,105,115);
  transition:color 0.3s ease-in;
}
.linkpad-product-mic-icon:hover{
  border-top:5px solid rgb(248,190,40);
  border-left:5px solid rgb(248,190,40);
  border-right:5px solid rgb(248,190,40);
  border-bottom:5px solid rgb(248,190,40);
  transition: border-top 0.3s ease-in, border-left 0.3s ease-in ,border-right 0.3s ease-in, border-bottom 0.3s ease-in;
}
.linkpad-product-mic-icon:hover .linkpad-product-mic-icon-color{
  color:rgb(248,190,40);
  transition:color 0.3s ease-in;
}
.learn-more-icon{
  color:rgb(248,190,40);
  margin-left:15px !important;
transform: scale(1.3);

}

.download-app-btn{
margin-right:30px
}

.learn-more-section:hover .learn-more-icon{
  color:rgb(249, 137, 17);

transform: translate(5px,0px) scale(1.5);
transition: transform 0.3s ease-in,color 0.3s ease-in;
}

.learn-more-section .learn-more-icon{

  color:rgb(248,190,40);

  transform:translate(-5px,0px) scale(1.5);
  transition: transform 0.3s ease-in,color 0.3s ease-in ;
}

.learn-more-section:hover .learn-more-text{
  color:rgb(249, 137, 17) !important;
  transition: color 0.3s ease-in !important;
}
.learn-more-section .learn-more-text{
  color:rgb(248,190,40);
  transition: color 0.3s ease-in ;
}
.how-does-it-work-row{
  margin-top:100px !important;
  margin-bottom:100px !important;
}
.how-does-it-work-img1{
  border-radius: 9px 9px 9px 9px !important;
transform:scale(0.95);
height:23rem !important;
}
.how-does-it-work-img2{
  border-radius: 9px 9px 9px 9px !important;
  transform:scale(0.85);

}
.how-does-it-work-img3{
  border-radius: 9px 9px 9px 9px !important;
  transform:scale(0.85);
}
.windows-icon{
  color:white;

}
.windows-text{
margin-right:15px;
}
.mac-text{
  margin-right:10px;
}
/*ABOUT US PAGE*/
.aboutus-card{
  transform: scale(1);
  transition: transform 0.3s ease-in;
}
.aboutus-card:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in;
}
.input-g{
  width:500px !important;
}
.carousel-icon{
  margin-right: 10px !important;
  margin-left: 10px !important;
}

/*LOG IN PAGE*/
.error-badge{
  width:480px !important;
  height:25px !important;
  padding-top: 0!important;


}
.download_button{
  width: 200px !important;
  height: 200px !important;
  color: rgb(130, 128, 128);
  border-radius: 3px 3px 3px 3px;
  border-width: 3px;
  background-color: rgba(130, 128, 128, 0);
  transition: background-color 0.5s ease-in;
}
.download_button:hover{
border-radius: 3px 3px 3px 3px;
background-color: rgb(215, 215, 215);
transition: background-color 0.5s ease-in;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
.files-list-width{
  width:200px !important;
}
.home-icons{

  width:200px !important;
  height:200px !important;
}
.home-icons-hug{

  width:400px !important;
  height:400px !important;
}
.home-icons-happy{

  width:50px !important;
  height:50px !important;
}
/* .container-homepage{
  wid
} */
.container-homepage{
  margin-left:800px !important;
  margin-right: 800px !important;
  width:max-content;
  height:fit-content;
}
.home-page-card{
  width:600px !important;
  height:600px !important;
  text-align: center;
  justify-content: center;
  align-items: center !important;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 10px !important; /* Added */
  border-radius: 50% !important;
}
.card-img-homepage{
  width:500px;
  height:500px;
  color:cornflowerblue !important;
  transform:rotate(46deg) translateX(-110px) !important;
}
.home-page-card-body{
  text-align: center !important;
}
.logo-font{
  font-size: 80px !important;
  font-weight: 400;
}
.home-page-card-2{
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  width:1500px !important;
  transform: translateX(-10%) !important;
}
.homepage-btn-text{
  width:500px;
  /* margin-left: 20% !important;
  margin-right: 60% !important; */

}
.admin-intro-text{
  font-size: 25px;
}
.participant-intro-text{
  font-size: 25px;
}
.learnmorelinkpad-btn{
  height:90%;
}
.home-circle-1{
  width:250px !important;
  height:250px !important;
  border-radius: 50% !important;
  position:relative !important; 
  text-align: center;
  justify-content: center;
  align-items: center !important;
  /* left:50% !important */
  bottom:-12.5%
}

.home-circle-2{
  width:250px !important;
  height:250px !important;
  border-radius: 50% !important;
  position:relative !important; 
  text-align: center;
  justify-content: center;
  align-items: center !important;
  /* left:50% !important */
right:53%;
bottom:-13%;
}

.home-circle-3{
  width:250px !important;
  height:250px !important;
  border-radius: 50% !important;
  position:relative !important; 
  text-align: center;
  justify-content: center;
  align-items: center !important;
  /* left:50% !important */
left:57%;
bottom:21%;
}
.home-page-card-diagram{
  width:400px !important;
  height:400px !important;
  text-align: center;
  justify-content: center;
  align-items: center !important;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 10px !important; /* Added */
  border-radius: 50% !important;
}
.home-page-icons{
  width:100px !important;
  height:100px !important;
}

/* FOOTER */
.footerpos{
  position:absolute !important ;
  bottom:0!important ;
}
/*SPACING*/
.space-box{
  height:19em;
}
.space-box-login{
  height:8em;

}
.space-box-small{
  height:10em;
}
.value-topbox{
  width:100%;
}
.container-for-value-desc{
  width:100%;
  display: flex;
  justify-content: center;
}
.login-input{

  width:300px !important ;
  height:70px !important ;
}
.login-field{
  border: none !important;
  border:solid 1px #ccc !important;
  border-radius:20px !important;
}
.login-field::placeholder{
  color:#798dac !important;
  font-family: Outfit;
  font-size: 20px;
}
.login-field::first-line{
font-family: Outfit;
font-weight: 700;
}
.login-register-buttons{
  border-radius: 20px;
  background-color: rgb(243,240,241);
  padding:0.01em 1em 0.5em 1em;
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:center;
  margin-top:10px;
}
.space-box-hero{
  height:100px;
}
.admin-btn-grp{
  border-top-left-radius:20px !important;
  border-bottom-left-radius:20px !important;

  background-color: #f8f8f8;
  color: #798dac;
  border:none;
}

.part-btn-grp{
  border-top-right-radius:20px !important;
  border-bottom-right-radius:20px !important;

  background-color: #f8f8f8;
  color: #798dac;
  border:none;
}
.part-btn-grp .admin-btn-grp,.part-btn-grp{
  border:3px #798dac !important;
}
.admin-part-btn-grp{
  color: #798dac;
  transform:scale(1.5);
  
}
.space-register{
  width:100% !important;
  height:100px !important;
}
.button-group-flex{
  width:100%;
  padding: 3%;
  padding-left:35%;
  padding-right:40%;
  padding-bottom: 8%;
}
.welcome-back-toast{
  background-color: #ccc;
}